---
const marketing = ["AC11 is the best.", "Next-Gen Accessibility, Simplified."]
---
<h1>AC11 | Next-Gen Accessibility Scan</h1>
{
    marketing.map(
        arrayItem => (
            <p></p>
        )
    )
}